.menuButton {
    padding: 10px;
    border: none;
    background: none;
    outline: none;
    z-index: 2000;
  }

  .menuIcon {
    position: absolute;
    top: 35%;
    height: 24px;
    width: 24px;
    fill: #333;   
    z-index: 2000;
  }

  .menu {
    position: relative;
    top: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    padding: 20px;
    transform: translateX(100%);
    transition:  1.3s ease-in-out;
  }

  .open {
    display: grid;
    place-items:  center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(0);
    background-color: blueviolet;
    z-index: 20;
    height: 100vh;
    transition: all ease 1s;
  }

  .a {
    padding: 1rem;
    font-size: 2em;
    color: #333;
    text-decoration: none;
    display: block;
    transition: all ease .3s;
  }

  .a:hover {
    background: #f9f9f9;
    transform: all ease 1s;
  }


 