
.nav {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  display: flex;
  z-index: 5;
  top: 0px;
  left: 0px;
  height: 5.56rem;
  background-color: var(--bg);
  position: sticky;

}
.leftMenu {
  display: flex;
  padding-left: 9.15rem;
  width: 50vw;
  
}

.scrollChange {
    height: 5.56rem;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    z-index: 20;
    top: 0px;
    left: 0;
    background-color: var(--globalTheme);
    position: sticky;
  
  }

.scrollChange .links {
  color: white;
}

.rightMenu {
  display: flex;
  width: 50vw;
  justify-content: flex-end;
  gap: 2.06rem;
  padding-right: 6.75rem;
  word-wrap: break-word;
}

.rightMenu li a {

  font-weight: 500;
  font-size: 17px;
  color: black;
}


@media (max-width: 900px) {

    .rightMenu {
      display: none;
    }
    .leftMenu {
      padding: 0;
    }
}

@media (min-width:900px) {
  .HamburgerMenu {
    display: none;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }
}