/* MENU NAVIGATION */

.nav {
    position: fixed;
    z-index: 10;
    background-color: var(--bg);
  }

.scrollChange {
    position: fixed;
    z-index: 10;
    background-color: var(--globalTheme);
    transition: .2s;
    height: 5.56rem;
    
}

.scrollChange ul li a{
  
  color: aliceblue;
}


  .svg {
    transition: all ease .2s;
    height: 3.12rem;
    
  }
  
  .imageLogoMenu, .leftMenu {
    width: 50vw;
  }

  .ul {
    padding: 0;
  }
  
  .ul, .rightMenu {
    display: flex;
    max-width: 1400px;
    align-items: center;
  }
  
  .imageLogo {
    margin-left: 9.25rem;
  }
  
  .links {
    padding-left: 3.93rem;
  }
  
  .ul .rightMenu:last-child {
    padding-right: 6.75rem;
  }

  .ul .rightMenu {
    justify-content: flex-end;
  }
  
  .links {
    color: #373737;
  }
  
  .imageLogo li a * {
    background-color: var(--globalTheme); 
  }
  
  .rightMenu *:hover {
    color: #eee;
    transition: .1s ease;
  }
  
