


.wrapper h2 {
    font-family: 'Roboto';
    color: #373737;
    padding-top: 5.56rem;
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 54px;
}


.wrapper > p {
    margin-top: 2rem;
    
}

.swipperComponent {
    overflow: hidden;
    display: flex;
    justify-items: center;
    justify-content: center;
    
    text-align: center;
    
    margin-top: 6rem;
    margin-bottom: 3rem;
    
}
.subtitle, .paragraph {
    text-align: center;
    
}

.paragraph {
    color:#37474FB8;
}


