
/* FEATURES COMPONENT  */

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 3;
    flex-wrap: wrap;
    background-color: var(--bg);
    width: 100%;
    height: 100%;
  }
  

  .features {
    margin: 1rem;
    width: 21.4rem;
    height: 21.93rem;
    background-color: #FFFFFF;
    border-radius: .9rem;
    padding: 1.9rem;
  }
  
  .features img {
    width: 76px;
    transition: all ease .5s;
  }
  
  .features img:hover {
    width: 84px;
  }
  
  .features h4 {
    font-family: 'Roboto';
    color: #37474F;
    font-size: 24px;
    line-height: 37px;
  }
  
  .features p {
    color: rgba(55, 71, 79, 0.721569);
    
  }