* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}


html {
  --bg: #F2F2F2;
  --globalTheme: #8471FF;
  scroll-behavior: smooth;  
}

body {
  background-color: var(--bg);
  font-family: 'Roboto', sans-serif;
  margin: auto;
  max-width: 1400px;
}

a, li, ul {
  text-decoration: none;
  list-style: none;  
}

