
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');

/* =======MENU NAVIGATION======== */


.nav {
  max-width: 1400px;
  width: 100vw;
  position: fixed;
  z-index: 10;
  background-color: var(--bg);
}

.scrollChange {
  
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: var(--globalTheme);
  transition: .3s;

}
.mudanca .leftMenu *, .mudanca {
  color: white;
}

.mudanca svg {
  height: 3.12rem;
}

.mudanca .svg * {
  font-size: 3px;
  fill: white;
}

.svg {
  transition: all ease .2s;
}

.imageLogoMenu, .leftMenu {
  width: 50vw;
}
.ul {
  padding: 0;
}

.ul, .leftMenu {
  display: flex;
  max-width: 1400px;
  align-items: center;
}

.imageLogo {
  margin-left: 9.25rem;
}

.links {
  padding-left: 3.93rem;
}

.ul .leftMenu:last-child {
  padding-right: 6.75rem;
}
.ul .leftMenu {
  justify-content: flex-end;
}

.links {
  color: #373737;
}

.imageLogo li a * {
  
  background-color: var(--globalTheme);
  
}

.leftMenu li *:hover {
  color: var(--globalTheme);
  transition: all .3s ease-out;
}

.leftMenu *:focus {
  color: var(--globalTheme);
  transition: .3s all ease;
}


/* ==========MAIN DESCRIPTION========== */

.main {
  width: 100%;
  max-width: 1400px;
  position: relative;
  top: 6.3rem;
}

.description {
  display: flex;
  flex: 2;
  margin-left: 9.25rem;
  
}

.mainDescription {
  width: 48.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 128px;
}

.mainDescription h1 {
   font-size: 3.5rem;
   margin: 0;
}

.mainDescription p {
  color:#7D7D7D;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.mainDescription h1 span {
  color: var(--globalTheme);
}

.participateButton {
  
  background: right 18px center no-repeat url('/arrow-down.png') var(--globalTheme);
  color: white;
  width: 16.37rem;
  height: 4rem;

  border: none;
  border-radius: 11px;
  font-family: 'Roboto';
  font-size: 22px;
  transition: .3s;
  cursor: pointer;
}

.participateLink {
  color: white;
  
  position: relative;
  z-index: 1;
  right: 45px;
}

.participateButton:active { 
  color: var(--globalTheme);
}

.asideImages svg {
  padding: 0;
  margin: 0;
}

.wrapperImage svg {
  overflow: hidden;
  width: 579px;
  z-index: -1;
  position: absolute;
  top: 150px;
  right: 0px;
  
}

.womanImage {
  position: relative;
  z-index: 2;
  right: 128px;
  top: 4px;

}

.ourCommitment {
  background-color: var(--bg);
  width: 100%;
  padding-top: 8.56rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right:15.37rem;
  padding-left: 15.37rem;
  
}

.ourCommitment h2 {
  font-family: 'roboto', serif;
  font-size: 37px;
}

.ourCommitment p {
  font-family: 'roboto', serif;
  color:#7D7D7D;
  margin-bottom: 4rem;
}

/* FEATURES SECTION  */

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 3;
  flex-wrap: wrap;
  background-color: var(--bg);
  width: 100%;
  height: 100%;
}

.features {
  margin: 1rem;
  width: 21.4rem;
  height: 21.93rem;
  background-color: #FFFFFF;
  border-radius: .9rem;
  padding: 1.9rem;
}

.features img {
  width: 76px;
  transition: all ease .5s;
}

.features img:hover {
  width: 84px;
}

.features h4 {
  font-family: 'Roboto';
  color: #37474F;
  font-size: 24px;
  line-height: 37px;
}

.features p {
  color: rgba(55, 71, 79, 0.721569);

}








/* .container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */
