
 
.main {
  
  top: 1.3rem;
  overflow: hidden;
}

.description {
  display: flex;
  
  margin-left: 9.25rem;
  position: relative;
  overflow: hidden;
}

.mainDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 8rem;
  padding-bottom: 14rem;
  overflow: hidden;
}

.mainDescription h1 {
  font-size: 3.5rem;
  font-family: 'Roboto';
  font-weight: 900;
  color: #2F2F2F;
  width: 39.5rem;
  

}

.mainDescription p {
  color:#7D7D7D;
  margin-top: 1rem;
  
  line-height: 2.375rem;
  font-size: 1.375rem;
  width: 39.5rem;
  font-weight: 500;
  font-style: normal;

}

.mainDescription h1 span {
  color: var(--globalTheme);
}

.participateButton {
  
  background: right 18px center no-repeat url('/img-home/arrow-down.png') var(--globalTheme);
  color: white;
  width: 16.37rem;
  height: 4rem;
  border: none;
  border-radius: 11px;
  font-family: 'Roboto';
  font-size: 22px;
  transition: all ease .3s;
  cursor: pointer;
  
}

.participateLink {
  color: var(--bg);
  position: relative;
  z-index: 1;
  right: 45px;
}

.participateButton:active { 
  color: var(--globalTheme);
}

.asideImages .purpleBall {
  padding: 0;
  margin: 0;
}

.wrapperImage svg {
  
  width: 64.375rem;
  height: 35.3125rem;
  
  position: absolute;
  top: 100px;
  left: 400px;
  
}

.womanImage {
  position: relative;
  z-index: 2;
  right: 128px;
  top: 4px;

}

.ourCommitment {
  background-color: var(--bg);
  padding-top: 8.56rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  
  
}

.ourCommitment h2 {
  width: 100%;
  color: #373737;
  font-family: 'Roboto';
  
  font-weight: 700;
  font-size: 37px;
  line-height: 54px;
  padding-top: 5.56rem;
  text-align: center;
  

}


.ourCommitment p {
  font-weight: 500;
  font-family: 'roboto', serif;
  color:#7D7D7D;
  margin-bottom: 4rem;
  width: 100%;
  height: 8.8125rem;
  line-height: 2.375rem;
  font-size: 22px;
  text-align: center;
  padding: 0 2rem;
}


/*Rotate Bar */


.rotateBar {
  height: 14rem;
  bottom: 0;
  z-index: 10;
  width: 100%;
  
  position: absolute;
  background-color: var(--bg);
  transform: rotate(-1deg);
  
}
@media (max-width: 700px) {
 .mainDescription {
  width: 100%;
  margin: 0 2rem;
  
 }
  .mainDescription h1 {
    width: 100%;
    font-size: 2.5rem;
    flex-wrap: wrap;
    
    height: 100%;
  
  }

  .mainDescription p {
    width: 100%;
    font-size: 16px;
    flex-wrap: wrap;
    
  }

  .participateButton {
    width: 100%;
    
  }
  .description {
    display: block;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 100%;
    height: fit-content;
    
  }
  .asideImages  {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  .rotateBar  {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
.ourCommitment p {
  width: 80%;
}
   
}