
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');

.main {
  width: 100%;
  max-width: 1400px;
  position: relative;
  top: 6.3rem;
}

.description {
  display: flex;
  flex: 2;
  margin-left: 9.25rem;
  
}

.mainDescription {
  width: 48.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 128px;
}

.mainDescription h1 {
   font-size: 3.5rem;
   margin: 0;
}

.mainDescription p {
  color:#7D7D7D;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.mainDescription h1 span {
  color: var(--globalTheme);
}

.participateButton {
  
  background: right 18px center no-repeat url('/arrow-down.png') var(--globalTheme);
  color: white;
  width: 16.37rem;
  height: 4rem;

  border: none;
  border-radius: 11px;
  font-family: 'Roboto';
  font-size: 22px;
  transition: .3s;
  cursor: pointer;
}

.participateLink {
  color: white;
  
  position: relative;
  z-index: 1;
  right: 45px;
}

.participateButton:active { 
  color: var(--globalTheme);
}

.asideImages svg {
  padding: 0;
  margin: 0;
}

.wrapperImage svg {
  overflow: hidden;
  width: 579px;
  z-index: -1;
  position: absolute;
  top: 150px;
  right: 0px;
  
}

.womanImage {
  position: relative;
  z-index: 2;
  right: 128px;
  top: 4px;

}

.ourCommitment {
  background-color: var(--bg);
  width: 100%;
  padding-top: 8.56rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right:15.37rem;
  padding-left: 15.37rem;
  
}

.ourCommitment h2 {
  font-family: 'roboto', serif;
  font-size: 37px;
}

.ourCommitment p {
  font-family: 'roboto', serif;
  color:#7D7D7D;
  margin-bottom: 4rem;
}

